<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ania.fitapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sporticon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sporticon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TrainAlone"
            android:screenOrientation="portrait"
            android:label="Training"/>
        <activity android:name=".Results"
            android:screenOrientation="portrait"
            android:label="Results"/>
        <activity android:name=".Exercise"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false"
            android:label="Exercise!"/>
        <activity android:name=".Exercises"
            android:screenOrientation="portrait"
            android:label="Exercises">

        </activity>
    </application>

</manifest>