<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ania.fitapplication">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sporticon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sporticon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TrainAlone"
            android:label="Training"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Results"
            android:label="Results"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Exercise"
            android:hardwareAccelerated="false"
            android:label="Exercise!"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Exercises"
            android:label="Exercises"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".TrainTogether"></activity>
    </application>

</manifest>